
@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 200;
	src: url('../font/Lato/Lato-Thin.ttf');
	src: url('../font/Lato/Lato-ThinItalic.ttf')

}
@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	src: url('../font/Lato/Lato-Light.ttf');
	src: url('../font/Lato/Lato-LightItalic.ttf') 
}


@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	src: url('../font/Lato/Lato-Black.ttf');
	src: url('../font/Lato/Lato-BlackItalic.ttf');
}


@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	src: url('../font/Lato/Lato-Bold.ttf');
	src: url('../font/Lato/Lato-BoldItalic.ttf');
}


@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	src: url('../font/Lato/Lato-Regular.ttf');
}

/* ******** */

@font-face {
	font-family: Pacifico;
	font-style: normal;
	font-weight: normal;
	src: url('../font/Pacifico/Pacifico-Regular.ttf');
}

/********* */


@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src: url('../font/Roboto_Condensed/RobotoCondensed-Light.ttf');
	src: url('../font/Roboto_Condensed/RobotoCondensed-LightItalic.ttf') 
}


@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	src: url('../font/Roboto_Condensed/RobotoCondensed-Bold.ttf');
	src: url('../font/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf');
}



/* ******** */


@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 400;
	src: url('../font/Ubuntu/Ubuntu-Light.ttf');
	src: url('../font/Ubuntu/Ubuntu-LightItalic.ttf') 
}

@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 400;
	src: url('../font/Ubuntu/Ubuntu-Medium.ttf');
	src: url('../font/Ubuntu/Ubuntu-MediumItalic.ttf') 
}


@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	src: url('../font/Lato/Lato-Black.ttf');
	src: url('../font/Lato/Lato-BlackItalic.ttf');
}


@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	src: url('../font/Ubuntu/Ubuntu-Bold.ttf');
	src: url('../font/Ubuntu/Ubuntu-BoldItalic.ttf');
}


@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	src: url('../font/Ubuntu/Ubuntu-Regular.ttf');
}





/* ******** */

@font-face {
	font-family: Pacifico;
	font-style: normal;
	font-weight: normal;
	src: url('../font/Pacifico/Pacifico-Regular.ttf');
}